<footer>
    <section class="footer footer_w3layouts_section_1its py-5">
        <div class="container py-lg-4 py-3">
            <div class="row footer-top">
                <div class="col-lg-3 col-sm-6 footer-grid_section_1its_w3">
                    <div class="footer-title">
                        <h3>Adres</h3>
                    </div>
                    <div class="footer-text">
                        <p>Lokasyon : 1234 lock, Konya Seydişehir, Necmettin Erbakan Sokağı</p>
                        <p>Telefon : +90 534894364</p>
                        <p>Email : <a href="mailto:info@example.com">info@example.com</a></p>
                        <p>Fax : +90 534894364</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 footer-grid_section mt-sm-0 mt-4">
                    <div class="footer-title">
                        <h3>Hakkımızda</h3>
                    </div>
                    <div class="footer-text">
                        <p>
                            Merhabalar 100 yılı aşkın süredir kamp ve etkinlik sektöründe zirvede bulunmaktayız. Tek isteğimiz yüce halkımızın isteklerini karşılamak
                        </p>
                    </div>
                    <ul class="social_section_1info">
                        <li class="mb-2 facebook"><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li class="mb-2 twitter"><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li class="google"><a href="#"><span class="fa fa-google-plus"></span></a></li>
                        <li class="linkedin"><a href="#"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6 mt-lg-0 mt-4 footer-grid_section_1its_w3">
                    <div class="footer-title">
                        <h3>Seyahat Etkinlik Yerleri</h3>
                    </div>
                    <div class="row">
                        <ul class="col-6 links">
                            <li><a href="#choose" class="scroll">Yeni Zelanda </a></li>
                            <li><a href="#overview" class="scroll">Paris, Fransa </a></li>
                            <li><a href="#pricing" class="scroll">Los Angeles</a></li>
                            <li><a href="#faq" class="scroll"> Seydişehir</a></li>
                            <li><a href="#testimonials" class="scroll">Fethiye </a></li>
                            <li><a href="#contact" class="scroll"> Güney Afrika  </a></li>
                        </ul>
                        <ul class="col-6 links">
                            <li><a href="#">İspanya </a></li>
                            <li><a href="#">Turkiye </a></li>
                            <li><a href="#faq" class="scroll">Avrupa </a></li>
                            <li><a href="#">İtalya </a></li>
                            <li><a href="#">İsveç </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mt-lg-0 mt-4 footer-grid_section_1its_w3">
                    <div class="footer-title">
                        <h3>Bülten</h3>
                    </div>
                    <div class="footer-text">
                        <p>Posta listemize abone olarak bizden her zaman en son haberleri ve güncellemeleri alacaksınız.</p>
                        <form action="#" method="post">
                            <input type="email" name="Email" placeholder="Email adresinizi giriniz..." required="">
                            <button class="btn1"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                            <div class="clearfix"> </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>
